{% extends 'profile.html' %}

{% block profile-posts %}

{% endblock profile-posts %}

{% block profile-nav %}
<!-- Delete Account -->
<h4>Delete Your Account</h4>

<div class="delete-account" id="deleteBar">
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete Account</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="height: 60vh; overflow: hidden;" >
        <div class="modal-content">
            <h4>Delete Account</h4>
            <p>Are You Sure you want to Permanently Delete Your Account ?</p>
            <p>If you delete Your Account:</p>
            <ul style="margin-left:1rem ; font-size: 0.9rem;">
                <li>All Posts You have made will be deleted Permanently.</li>
                <li>All Media will be deleted.</li>
                <li>You will not be able to restore deleted Account again.</li>
            </ul>
        </div>
        <div class="modal-footer">
            <form action="{% url 'delete_user' %}" method="POST">
                {% csrf_token %}
                <p style="text-align: left;">Please Enter Password to Delete.</p>
                <input type="password" name="check_password">
                <input type="submit" value="Yes">
                <a href="#" class="modal-close waves-effect waves-green btn-flat">No</a>
            </form>
        </div>
    </div>

</div>
{% endblock profile-nav %}